;;;
"title": "our mission"
;;;

%section.header-section{:style=>"background:#EC3E6E url(images/header_mission.png) no-repeat scroll center top; "}
	.container
		.row
			.col-md-1
			.col-md-10
				%h1
					PUT AN END TO DISTRACTED DRIVING
				.row
					.col-md-2
					.col-md-8
						%p.lead
							%em
								Ninety-four percent of people consider sending or reading texts while driving unacceptable, yet 30% of drivers admit to doing it. We're here to change this.
					.col-md-2
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				%h3.text-center
					Our Story
				%p
					%strong
						On May 8, 2008, Dave Sueper, a father of two, and the Director of Engineering for a small, Denver-based telecom company left work for a lunch meeting. As he pulled out of the parking lot he was hit by a distracted 16 year old driver and was instantly killed. Scott Tibbitts, the founder of Katasi, was scheduled to meet Dave later that afternoon. 
				%p
					Scott was deeply affected by the tragedy; like Sueper, he was a father of two, and he realized it easily could have been him in the accident. The event gave Scott the motivation to solve this problem. Scott brought together a team of successful entrepreneurs to build a solution to end distracted driving.
.container
	%hr
%section
	.container
		.row
			.col-md-1
			.col-md-10
				.row
					.col-md-6
						%img.img-responsive.text-center.margin-auto.margin-bottom{:src=>"images/mission_changing_habbits@2x.png", :width=>"275"}
					.col-md-6
						.padded
							%h3
								Changing Habbits
							%p
								%small
									We know, it's hard to resist the buzzing object in your pocket. This isn't surprising. It's designed to get your attention. The power to change is within you, and we are here to help. We designed a product that is simple to install and works automatically to block distractions. Join Groove and keep our roads safe.
			.col-md-1
			.clearfix
.container
	%hr
%section
	.container
		.row
			.col-md-1
			.col-md-10
				.row
					.col-md-6.col-md-push-6
						%img.img-responsive.text-center.margin-auto.margin-bottom{:src=>"images/mission_live_beyond@2x.png", :width=>"309"}
					.col-md-6.col-md-pull-6
						.padded
							%h3
								Live beyond your phone
							%p
								%small
									Join the Groovement and liberate yourself from your phone, because it could just be the thing that saves your life...and the life of someone else.
			.col-md-1
=partial"shared/sign_up_panel"
		


