.btn{
	border-radius:100px;
	text-transform:uppercase;
	letter-spacing:2px;
	font-family:$flourish-font-name;
	font-weight:900;
	&.btn-wire{
		background:transparent;
		border:1px solid rgba(255,255,255,.5);
		&:hover{
			border-color:rgba(255,255,255,1);
		}
	}
}