 @mixin breakpoint($point) {
   @if $point == lg {
     @media (max-width: 1200px) { @content ; }
  }
   @else if $point == md {
     @media (max-width: 992px) { @content ; }
  }
    @else if $point == sm {
     @media (max-width: 767px) { @content ; }
  }
   @else if $point == xs {
     @media (max-width: 320px)  { @content ; }
  }
   @else if $point == lg-and-up {
     @media (min-width: 992px)  { @content ; }
  }
}

// to use:
//   @include breakpoint(md) {
//     ...
//   }


///conditionsl classes

//md

.text-center-md{

  @include breakpoint(md) {
    text-align:center;
  }

}


//sm


.text-center-sm{
  @include breakpoint(sm) {
      text-align:center;
    }
}

.no-margin-bottom-sm{
  @include breakpoint(sm) {
      margin-bottom:0;
    }
}

.margin-bottom-sm{
  margin-bottom:0;
  @include breakpoint(sm) {
      margin-bottom:24px;
    }
}