//sections


section{
  padding:$baseline*3 0;
  &.invert-section{
    background-color:$primary-color;
    @extend %white_text;
  }
  &.off-white{
    background-color:#fafafa;
  }
  &.icon-grid-col-6{
    i{
      position:relative;
      left:29px;
      opacity:.7;
      @include breakpoint(md) {
        left:0;
        margin-bottom:$baseline/2;
      }
    }
    .info-container{
      padding-right:$baseline;
      @include breakpoint(md) {
        padding-right:0;
      }
    }
  }
  &.sign-up-banner{
    background:$primary-color url(../images/sign_up_banner_baner_bg.png) center;
  }
  &.header-section{
    @extend %white_text;
    text-align:center;
    padding-top:$baseline*2 + 78;
    background-size:cover!important;
  }
  &.home-section{
    padding:$baseline*4 0;
    padding-top:$baseline*4 + 78px ;
  }
}



