//sections


section{
  padding:$baseline*2 0;
  &.invert-section{
    background-color:$primary-color;
    @extend %white_text;
  }
  &.off-white{
    background-color:#fafafa;
  }
  &.top-section{
  	padding:$baseline*4 0;
  	padding-top:$baseline*4 + 78px ;
  }
}



