%footer.global-footer
	%section
		.container
			.row
				.col-sm-4.col-xs-12
					.logo-container
						%a.footer-logo{:href=>"#"}
							=partial"layouts/logo_svg"
						%p.copyright
							%small
								© Katasi 2015
				.col-sm-2.col-xs-6
					%h6
						Learn More
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/"}
								Home
						%li
							%a{:href=>"/mission"}
								Our Mission
						%li
							%a{:href=>"/products"}
								Products
						%li
							%a{:href=>"/press"}
								Press
				.col-sm-2.col-xs-6
					%h6
						About
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/company"}
								Company
						%li
							%a{:href=>"/company#ssteam"}
								Team
						%li
							%a{:href=>"/company#ssjobs"}
								Jobs
						%li
							%a{:href=>"/blog"}
								Blog
				.col-sm-2.col-xs-6
					%h6
						Support
					%ul.list-unstyled.footer-main-nav
						%li
							%a{:href=>"/privacy"}
								Privacy Policy
						%li
							%a{:href=>"/terms"}
								Terms of Service
				.col-sm-2.col-xs-6
					%h6
						Get in Touch
					%ul.list-unstyled.footer-main-nav.double-margin-bottom
						%li
							%a{:href=>"/contact"}
								Contact Us
					%ul.social-nav-footer.list-inline
						%li
							%a{:href=>"#"}
								F
						%li
							%a{:href=>"#"}
								L
						%li
							%a{:href=>"#"}
								I
						%li
							%a{:href=>"#"}
								X

