%nav.main-nav.navbar-fixed-top
  .container
    %a.navbar-brand{:href => "/"} 
      =partial"layouts/logo_svg"
      / %img{:src=>"images/logo_white@2x.png", :width=>"116", :height=>"25px"}
    .pull-right.hidden-lg.hidden-md
      %button.nav-toggler.toggle-slide-right
        %span.menu-text
          menu
        %i.md.md-menu
    .nav-links
      =partial"layouts/nav-links"

