%form.navbar-form.social-nav{:role => "search"}
  .form-group
    %a.btn.btn-wire.btn-join-us{:href => "/"} 
      Join Us
  .form-group
    %a.btn.social-font-name.btn-facebook.btn-social{:href => "https://app.getcoopt.com/login"} 
      F
  .form-group
    %a.btn.social-font-name.btn-twitter.btn-social{:href => "https://app.getcoopt.com/login"} 
      L

%ul.nav.main-links
  %li
    %a{:href => "#section-link-features"} 
      Our Mission
  %li
    %a{:href => "#section-link-pricing"} 
      Company
  %li
    %a{:href => "#section-link-faq"} 
      Products
  %li
    %a{:href => "#section-link-faq"} 
      Press
  %li
    %a{:href => "#section-link-faq"} 
      Blog