%form.navbar-form.social-nav{:role => "search"}
  .form-group
    %a.btn.btn-wire.btn-join-us{:href => "/"} 
      Join Us
  .form-group
    %a.btn.social-font-name.btn-facebook.btn-social{:href => "https://app.getcoopt.com/login"} 
      F
  .form-group
    %a.btn.social-font-name.btn-twitter.btn-social{:href => "https://app.getcoopt.com/login"} 
      L

%ul.nav.main-links
  %li
    %a{:href => "/mission"} 
      Our Mission
  %li
    %a{:href => "/products"} 
      Products
  %li
    %a{:href => "/company"} 
      Company
  %li
    %a{:href => "/press"} 
      Press
  %li
    %a{:href => "/blog"} 
      Blog