;;;
"title": "products"
;;;

%section.header-section{:style=>"background:#0F3B4D no-repeat scroll center top; "}
	.container
		.row
			.col-md-1
			.col-md-10
				%h1
					Terms 
					%span.italic
						of 
					Service
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8

				%p
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel condimentum elit. Suspendisse euismod dolor sed condimentum lacinia. Etiam ornare metus quis ante imperdiet vestibulum. Aliquam iaculis massa id diam elementum convallis. Maecenas sodales ac tortor et tristique. Curabitur vitae commodo ipsum. Maecenas non sapien auctor, gravida lectus quis, malesuada mi. Pellentesque accumsan rutrum odio, a scelerisque ligula pellentesque id. Nam auctor purus eget diam blandit, in semper urna commodo. Sed nec luctus est.
				%p
					Ut quis volutpat turpis. In hac habitasse platea dictumst. Duis mollis ante et rhoncus imperdiet. In aliquam velit eu dolor suscipit, vulputate lobortis lectus sodales. Cras ut justo tellus. Suspendisse varius eleifend interdum. Aliquam rutrum urna at elit condimentum, ut facilisis dolor auctor. Mauris in tortor vel turpis scelerisque congue. Proin vel efficitur urna. Aenean mollis dictum orci sit amet pharetra. Phasellus ornare sed ipsum vehicula sodales. Ut cursus ultrices tempus.
				%p
					Quisque at malesuada nibh. Quisque semper tempor orci finibus lacinia. Morbi ut pharetra lectus, in consequat turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam quis sodales massa, vel cursus massa. Morbi metus eros, venenatis quis nisi et, elementum volutpat urna. Aliquam sapien quam, lobortis vehicula auctor sit amet, eleifend non ex. Vivamus id lobortis ante, ac porta tortor. Vivamus ac posuere quam, et tempor purus. Vivamus porttitor eget nisi porta placerat. In hac habitasse platea dictumst. Phasellus laoreet malesuada nisl a fermentum.
				%p
					Sed ultricies, justo non consequat luctus, nunc nulla semper erat, nec euismod enim erat maximus lectus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tempus tellus sit amet leo egestas, ac congue nulla commodo. Duis vitae venenatis felis. Ut non turpis viverra, fermentum sapien vel, venenatis orci. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi commodo tortor sit amet sagittis feugiat. Cras in sodales elit. In posuere fermentum ante eget convallis.
			.col-md-2



=partial"shared/sign_up_panel"
		


