;;;
"title": "contact"
;;;

%section.header-section{:style=>"background:#9ACA40 url(images/header_contact@2x.png) no-repeat scroll center top; "}
	.container
		.row
			.col-md-1
			.col-md-10
				%h1
					GET IN TOUCH
				.row
					.col-md-2
					.col-md-8
						%p.lead
							%em
								We would love to hear from you
					.col-md-2
			.col-md-1
%section
	.container
		.row
			.col-md-2
			.col-md-8
				.card.double-margin-bottom{:style=>"margin-top:-130px;"}
					.row
						.col-md-1
						.col-md-10
							%form
								.form-group
									%input.form-control.input-lg{:placeholder=>"Name"}
								.form-group
									%input.form-control.input-lg{:placeholder=>"Email"}
								.form-group
									%input.form-control.input-lg{:placeholder=>"Subject"}
								.form-group
									%textarea.form-control.input-lg{:placeholder=>"Message", :rows=>"10"}
								.form-group
									%button.btn.btn-lg.btn-block.btn-primary
										send it
				.text-center
					%h6
						Location
					%p.text-color
						%small
							3100 Arapahoe Ave
							%br
							Suite 500A
							%br
							Boulder Colorado, 80303
							%br
							720.726.7163
						.col-md-1
			.col-md-2
