section{
	&.home-video{
		background:$black-color url("/images/home_bg_placeholder@2x.png") no-repeat scroll center top;
		background-size:cover;

	}
	&.press-slider{
		background-color:$off-white-bg-color;
	}
}