;;;
"title": "products"
;;;

%section.header-section{:style=>"background:#2FA8DD url(images/header_products.png) no-repeat scroll center top; "}
	.container
		.row
			.col-md-1
			.col-md-10
				%h1
					DISTRACTION FREE DRIVING AWAITS
				.row
					.col-md-2
					.col-md-8
						%p.lead
							%em
								Groove provides an independent data connection between the vehicle and the cloud. This enables the system to block distractions at the source. 
					.col-md-2
			.col-md-1
%section
	.container
		.row
			.col-md-5
				%h3
					How Groove is Different
				%p
					The Groove software uses contextual information to determine the vehicle's driver. Giving the users a nuanced, elegant experience. Groove identifies multiple registered drivers in the vehicle and disables distractions accordingly. For example, a teen will not text and drive when a parent is in the vehicle, so Groove does not disable any phones. But if two teens are in the vehicle, we disable both.
			.col-md-7
				%img.img-responsive.text-center.margin-auto.margin-bottom{:src=>"images/products_usb@2x.png", :width=>"360"}
.container
	%hr
%section
	.container
		.row
			.col-md-12.text-center
				%h3
					Safe. Secure. Focused.
				%p
					%small
						We're keeping the roads safe with our carrier level solutions.
				%img.img-responsive.text-center.margin-auto.groove-car{:src=>"images/products_groove_car@2x.png", :width=>"640"}
		-2.times do
			.row
				-3.times do
					.col-md-4
						.row.text-center-md
							.col-md-3
								%i.md.md-account-circle.icon-sm{:style=>"color:#9ACA40;"}
							.col-md-9
								.info-container
									%p.padding-right.no-padding-right-md
										%small
											The Only solution that works effectively with the iphone, or any phone that receives texts


=partial"shared/sign_up_panel"
		


