;;;
"title": "Home"
;;;


%section.invert-section.primary-bg.text-center.top-section.home-video
	.container
		.col-lg-12
			%h1
				HITTING THE BRAKE ON TEXTING AND DRIVING
			%p.lead
				%em
					Creating Focused Drivers by Eliminating the Distraction at the Source.
			.padding-top
				%a.btn.btn-primary{:href=>"#"}
					Keep our Roads Safe
%section.text-center
	.container
		.col-md-2
		.col-md-8
			%h3
				Don't just take our word for it
			%p
				Every year distracted driving causes 1.6 million auto accidents, half a million injuries and takes 6000 lives. Groove will has the solution to stop it all.
		.col-md-2









